@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Darkline';
  src: url('./assets/fonts/Darkline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.logo-font {
  font-family: 'Darkline', sans-serif;
}
